# Core
python-dotenv==1.0.1
rich==13.7.1

# Video / Audio
ffmpeg-python==0.2.0
yt-dlp
numpy==1.26.4

# Transcription
openai-whisper==20231117
torch==2.3.1

# YouTube
google-api-python-client==2.137.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0

# Optional: sirf tab uncomment karein jab OPENAI_API_KEY use karna ho
# openai
